.sidebar{
  background-color: white;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 75px;
  z-index: 200;
  padding-top: 5px;

}

.sidebar-link{
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 
}
.sidebar-link:hover{
  background-color: rgb(230, 227, 227);
  cursor: pointer;
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div{
  font-family: Arial;
  font-size: 11px;
}

